build/
test.cc

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Compiled pybind11 modules
*.so

# Binary index artifacts
dataset/*/index/
dblp/
human/
patents/
wordnet/
youtube/
.DS_Store
*.png

# latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pdf